@import "tailwindcss";

@import "@fontsource-variable/geist";

@theme {
  --font-sans: Geist Variable, ui-sans-serif, system-ui, sans-serif;
  --font-serif: Domine Variable, ui-serif, serif;
  --font-mono: Geist Mono Variable, ui-monospace, monospace;
}
